.DS_Store
Data/2022q4_bdc/
Data/2023q1_bdc/
Data/2023q2_bdc/
Data/2023q3_bdc/
Data/2023q4_bdc/
Data/2024q1_bdc/
Data/2024q2_bdc/
Data/2024q3_bdc/
Data/2024q4_bdc/
Data/2025q1_bdc/
Data/2025_04_bdc/
Data/2025_05_bdc/
Data/2025_06_bdc/
Data/2025_07_bdc/
Data/2025_08_bdc/
Data/2025_09_bdc/
Data/2025_10_bdc/
Data/2025_11_bdc/
Data/2025_12_bdc/
Data/soi_ares.tsv
Data/ares_website.html
Data/ares_fair_value_pct.png
